<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Project | smartn.me</title>
  </head>
  <body>
    <p>
     <%= @user.name %>, has submitted the, <%= @project.name %>, and you can view it <%= link_to( 'here', @url ) %>.
     <br /><br />
     Thanks again,
     <br /><br />
     smartn.me
    </p>
  </body>
</html>
