.bundle
db/*.sqlite3
log/*.log
tmp/**/*
config/database.yml
config/database.mysql.yml
config/database.postgresql.yml
db/development_structure.sql
.rvmrc
# Vim
*.swp
coverage
*.tmproj
.DS_Store
Capfile
config/deploy.rb
docs/txt/hostingrails.txt
config/initializers/omniauth.rb
config/initializers/setup_mail.rb
.sass-cache/
public/assets/
config/paypal.yml
.idea/
config/initializers/bitly.rb
config/initializers/theme.rb
