strong Are you sure you want your donation to be anonymous? 
| When you allow your support to be public, it enhances the reputation of the campaign and gives other supporters confidence to give to that student.
br
br
| The amount that you choose to donate will never be disclosed to anyone but the campaign owner (who will always know who you are), even if your donation is public.
