<h2>For Students:</h2>

<p>
Simply create a campaign that explains in detail your goals and plans of pursing higher education or training and the amount of money needed to achieve this goal (carefully add up the cost &amp; be as realistic as possible when presenting to possible donors.)</p>

<p>You’ll need to promote your page to all of your friends, family, &amp; social network. The more people who know, the more support you’ll have. We also suggest that you offer your donors rewards &amp; incentives for participating.</p>
   
<p>Once your campaign reaches it’s goal, we’ll deposit the full balance in your paypal account. If your campaign fails to reach it’s goal we’ll have to refund ALL of the money back to the donors. <a href="<%= faq_path %>">Here’s Why?</a> There is an approval process for all campaigns to help us alleviate spam or suspicious users.
</p>
 
<h2>Overview</h2>

<ul style="list-style-type:square;">
  <li>
    Set Goal - Create a project explaining your goal, the investment required, and what you are willing to provide in return for investment.
  </li>
  <li>
     Promote Goal - Using the tools that we provide, promote your project to friends and family via your existing social networks (Facebook, MySpace, Twitter, etc...).
  </li>
  <li>
    Achieve Goal - When you reach your goal, you can withdraw your funds and follow through with your plans.
  </li>
</ul>

<h2>For Donors:</h2>

<p>
You may have been invited to smartn.me by someone you know, or you may just be a generous person who wants to help students that are attempting to better themselves. Whatever the case may be, welcome!
</p>

<p> 
To donate to a project, it’s best to have a PayPal account; however Paypal offers a “visitor payment” option, so it’s OK if you don’t have an account already.  Use the “Donate to this project” form on every project page, and indicate the amount you'd like to donate. Your PayPal information will be requested on the secure page that opens next. If the campaign you’ve chosen doesn’t reach its goal, your donated money will be credited to your smartn.me account so that you can participate in another campaign or you can request receive a chargeback through PayPal.
</p>
 
<h2>Overview</h2>

<ul style="list-style-type:square;">
  <li>
    Browse education campaigns and rewards, and choose a campaign that matters to you.
  </li>
  
  <li>
    Choose your level of funds and spread the word via Facebook, Twitter, and email.  Then tune in or keep in touch with the student thought their journey.
  </li>
  
  <li>
    Get results on your impact online and get ready for the next campaign (or submit your own).  
 </li>
</ul>
