<h2>For Students:</h2>

<p>
Simply create a campaign that explains in detail your goals and plans of pursing higher education or training and the amount of money needed to achieve this goal (carefully add up the cost &amp; be as realistic as possible when presenting to possible donors.)</p>

<p>You’ll need to promote your page to all of your friends, family, &amp; social network. The more people who know, the more support you’ll have. We also suggest that you offer your donors rewards &amp; incentives for participating.</p>
   
<p>Once your campaign reaches it’s goal, we’ll deposit the full balance in your paypal account. If, for any reason, your campaign fails to reach it’s goal we’ll have to refund ALL of the money back to the original donors. Please note that there's also a strict approval process for ALL projects to help us alleviate spam and suspicious users. All projects must be education oriented.
</p>
 
<h2>For Donors:</h2>

<p>
You may have been invited to smartn.me by someone you know, or you may just be a generous person who wants to help students who are attempting to better themselves. Whatever the case may be, welcome!
</p>

<p> 
We currently rely on the trusted and well recognized Paypal to accept donations, so in order to donate to a project it’s best to have a PayPal account; however Paypal offers a “visitor payment” option, so it’s OK if you don’t have an account already.  Use the “Donate to this project” form on the chosen project's page, and indicate the amount you'd like to donate. Your PayPal information will be requested on the secure page that opens next. If the campaign you’ve chosen doesn’t reach its goal, your donated money will be credited to your smartn.me account so that you can participate in other campaigns. If you'd like a refund you can simply request to receive a chargeback through PayPal.
</p>
 

<p>
For more details on how smartn.me works, head over to our <a href="<%= faq_path %>">FAQ</a> page. By submitting a campaing, you are agreeing to the <a href="<%= terms_path %>">terms of use</a> for this site. 
