<% content_for :content_header do %>
  <h1>Add Title</h1>
  <h2>Add Subtitle</h2>
<% end %>

<h2>About Us?</h2>

<p>“Crowd funding describes the collective cooperation, attention and trust by people who network and pool their money and other resources together to support efforts initiated by other people or organizations.” - Wikipedia.</p>

<p>Smartn.me is the first crowd funding platform in the U.S. that focuses solely on helping you further your education. Whether you’re seeking a college degree, specialized training, books & fees, or the opportunity to study abroad, consider tapping into the crowd to fund your education instead of  debt ridden student loans & credit cards.</p>

<p>Our vision is to transform the way you view an education by exposing the many ways that people are learning all over the world. We also hope to present an alternative way to fund you learning ventures  without having a rain cloud of debt looming over your future. If you have any questions please contact us at contact@smartn.me.</p>
