<h2>FAQ/Help</h2>

<h3>What is smartn.me?</h3>
<p>smartn.me is an alternative way to fund your education. This site was created to combat the rising debt from student loans and to shine a light on the many different ways that people are educating themselves around the world.</p>

<h3>How exactly does smartn.me work?</h3>
<p>All projects must have a purpose of collection and a term (between 1 and 90 days). In the meantime, the student has to engage their community to raise the money that has been requested. When you finish a deadline, there are two options, which we call the “all-or-nothing” approach:
The Successful project: if the goal is reached or exceeded, the project owner gets all of the money raised.
The Unsuccessful project: the goal is not reached, so we return all contributions to your supporters of that campaign and the owner gets nothing.</p>

<h3>And why all-or-nothing?</h3>
<p>
  <ol style="list-style-type:decimal;">
    <li><i>It is less risky</i>. For donors who want to be sure that you will use the money accordingly. We assume that the minimum amount that you’ve request is the amount necessary to carry out your goal. If you don’t reach this monetary target, then it will be very difficult to fund that goal.</li>
    <li><i>It is a great opportunity to test concepts</i>. If you do not get the necessary support, it may be that your campaign needs a little work. Ask for feedback and suggestions and try again</li>
    <li><i>It gives extra motivation</i>. There’s nothing like a race that ends with a close finish. Your task is to get as many people involved as possible. When people see that you are enthusiastic &amp; proactive about your education, they will be too!</li>
  </ol>
</p>

<h3>What type of projects can be found on smartn.me?</h3>
<p>Smartn.me is dedicated to educational projects only, however this doesn’t mean that it’s only for college students. At smartn.me we disagree with the notion that an education has to come from a university. We challenge people all over the world to think outside of the box and take a more proactive approach to learning and bettering themselves. With that being said here are just a few examples of what this encompasses: college, art school, exam fees &amp; test preparation, tuition, books, specialized training courses, studying abroad, ETC. If you have any questions about the types of projects that will be accepted, just send us an email and we’d be happy to discuss it with you. Or submit your campaign and we’ll contact you within two days to let you know if it’s approved or not. 
We are passionate about learning and we’d love to know the vehicle you’ve chosen to help you further your education.</p>

<h3>Is smartn.me just for students?</h3>
<p>No! smartn.me would love to reach out to educators as well. We understand that there have been several budget cuts within the public school system, so we encourage you to utilize crowdfunding to aide you in purchasing school supplies or other materials for learning. You may also have a big class trip that you’d like to plan. smartn.me is a great resource to help you tap into the crowd and achieve your goals as an educator.</p>

<h3>What is the duration of each campaign?</h3>
<p>Campaigns differ in length, from 1 day to 90days (being the maximum time period). We encourage each student to carefully plan their campaign and give themselves enough time to execute it effectively.</p>

<h3>Why do people contribute to these projects?</h3>
<p>Many people dig the idea of contributing to something much greater than themselves, or perhaps “paying it forward.”  These campaigns will only be successful if people contribute. Fear not, because A truckload of money is not necessary. Most projects offer rewards starting at $ 10.00.</p>

<h2>Supporting A Campaign</h2>

<h3>How can I support a campaign?</h3>
<p>When you are on the campaign page, click on the green button that reads "I support this project" (it is on the right side of the screen). After that, you will have a field to enter the amount that you will contribute and from there you can select a reward.
On the next screen, you will be prompted to continue by paying with your Paypal account. 
After offering your financial support you may opt to spread the word to other people you know who are interested in helping out.</p>

<h3>How does the payment process work?</h3>
<p>After you support the campaign through a secure Paypal transaction, the money will go to the smartn.me Paypal account. Then there are two possibilities:
  <ul style="list-style-type:square;">
    <li>If the campaign is successful, we will reward the value of the campaign to the owner. See question "How do the creators of the projects receive money…"</li> 
    <li>If the project is not successful, you will receive your money back in the form of credits on your smartn.me account soon after the fundraising deadline of the campaign you supported. From there you can support another project or if you prefer to have your money back, no problem: Just go to “My credits” (click on your username, up at the right corner of the screen) and select “Request Reversal.” If the payment is made by Paypal, you will have 100% money back, but only if the cancellation is requested within 60 days after your payment has been completed. If you fail to request the money within the 60 days, Paypal transaction fees (5.4% + R $ 0.39) will be deducted from the amount to be reversed.</li>
  </ul>
</p>

<h3>Why do you use Paypal?</h3>
<p>Paypal is the largest electronic payment system in the world.  They ensure safe transactions and attention to detail. The payments are processed directly through Paypal, so neither smartn.me nor the Student you are funding will have access to your credit information. (See our Privacy Policy for more details)
Using Paypal also allows us to accept International currencies from all over the globe, so that won’t be an obstacle for you in your funding endeavors.</p>

<h3>Do I need a Paypal account to support a project?</h3>
<p>No. You can use your preferred credit card on Paypals “Visitor Payment” option</h3>

<h3>What information will the student receive if I support their campaign?</h3>
<p>They will know your smartn.me username (unless you’ve chosen to donate anonymously), your email, the value that you donated, & which reward you selected.</p>

<h3>Will the amount that I contribute be shown publicly?</h3>
<p>Definitely not. Only the student will receive this information.</p>

<h3>What if I want my support to be anonymous?</h3>
<p>No problem!  Just select the option “I want my support to be anonymous” located on the “give support page.”  
We respect your rights to privacy, however allowing the public to view your support only increases the reputation of the student and encourages more support. 
Moreover, the value of your donation will not be disclosed to anyone other than the owner of the campaign (who will always know who you are).</p>

<h3>Will I receive a message when the campaign that I’ve supported ends?</h3>
<p>Yes.  Whether the project is successful, or not, you will receive an email.</p>

<h2>Submitting Your Project</h2>

<h3>What do I need to submit my project?</h3>
<p>First check out the "Submit Your Campaign" area in the top right corner at the site; there we explained more about smartn.me, and provide some tips on building your campaign. Afterwards,  fill in the details and submit your campaign. 
It’s best that you be as detailed as possible in your campaign description, so that your donors will be fully informed about what they are contributing to. Consider providing an acceptance letter, a detailed breakdown of your tuition & fees, a video from a guidance counselor or academic advisor on your behalf, or even a video journal of your progress. Be as detailed, transparent, and creative as possible.</p>

<h3>Will every project be approved on the site?</h3>
<p>No. The approval process is stricter than general crowdfunding sites and we have a team that’s responsible for evaluating each project. 
We will not judge the vehicle you’ve chosen to further your education; we simply want to ensure that the project fits within our educational guidelines and demonstrates an effort by the student to further their education.
   We want to know all about the background and level of ambition of each student and why they are attempting to engage their community in fundraising.  
Here are a few reasons why we have a strict approval process:
  <ul style="list-style-type:square;">
    <li>We want to reduce the risk of having people use the site for malicious activity;</li>
    <li>We want to ensure that the student is serious about engaging their community to raise funds as this is one of the most fundamental steps of his campaign;</li>
    <li>We want to ensure that the campaign is in-line with the smartn.me message</li>
    <li>Protecting our donors is a top priority</li>
  </ul>
</p>

<h3>What kind of response can I expect after I submit my campaign?</h3>
<p>There are three possibilities:  (1) we will authorize the campaign and you will receive a notification that your campaign is “live” (2) If the campaign is unclear, we will send you more questions so that we can get a better understanding of your goals (3) expect a polite rejection notice if the campaign detracts from the smartn.me message.</p>
  
<h3>How long do I have to wait for a response from smartn.me?</h3> 
<p>No more than two days, including weekends.</p>

<h2>Payments &amp; Fees</h2>

<h3>How will the students receive there money if the campaign is successful?</h3>
<p>First, they must have an account through Paypal in order to receive payment. The payment process will be done in two steps 30 days apart. The first wave of money distributed will be from the donations received prior to the 30 day mark before the campaign ends, and will be awarded 2 business days after the campaign ends. The second wave of payments will occur after all the last minute donations clear which could take up to 30 days. 
 The reason for two payments  is to ensure that all credit card & debit card payments, especially those entered in the last 30 day of the campaign, have had time to be processed and cleared. We will also send a report that details your donations & fees.</p>

<h3>Does smartn.me deduct a percentage?</h3>
<p>Yes. smartn.me deducts 5% from successful campaigns to cover site maintenance & operational costs. If your campaign doesn’t reach it’s goal then smartn.me refunds ALL of the donated money.</p>

<h3>What is the fee charged by Paypal?</h3>
<p>The rate that the project owner will have to pay varies with the form of payment that is chosen by the sponsor. Credit card payments usually have higher rates. Based on cases that we’ve had so far, this rate averages to be about 2.9% + $0.30 (international rates may vary). Remember that this rate is only for the project owners.<p>

<h3>Does it cost anything to put a project on smartn.me?</h3>
<p>Nope! It’s absolutely FREE to post a project on smartn.me</p>

<h3>What is the maximum amount of funding that my campaign can raise?</h3>
<p>There is no maximum limit.</p>

<h3>Is there a minimum amount that I’m able to receive?</h3>
<p>Yes. The minimum value is $ 10.</p>

<h3>And intellectual property?</h3>
<p>It is and always will be 100% property of the student.</p>

<h2Your Campaign</h2>

<h3>Can my campaign be edited after it’s released?</h3>
<p>Yes. The only items that can not be changed are: the purpose of financing, the deadline, and the rewards that have been selected. For now, to make these changes you have to send an email to us at contact@smartn.me , but  Hopefully in the near future you will be able to do this directly from the site. =)</p>

<h3>If my project has raised money before the deadline, can I request for it to end early?</h3>
<p>No, you have to wait until the deadline. This is a great opportunity for you to engage your community to get extra support!</p>

<h3>Can I edit some information from my project after the project deadline?</h3>
<p>No, but you can use the “Updates” tab to continue engaging with supporters or others who become interested in your project.</p>

<h3>Can a campaign be deleted from smartn.me?</h3>
<p>If it has already been released to the public, No. Even if it is not funded, it will continue to be on the site, for the sake of transparency.</p>

<h3>Can I contribute to my own campaign?</h3>
<p>Absolutely not. This would be grounds for disqualification, because it defeats the spirit of tapping into the crowd and it is viewed as dishonest behavior.  Also Paypal will not process a donation to you from you. Think about it.</p>

<h3>Can I cancel my campaign?</h3>
<p>Can. For this you will need to send an email to contact@smartn.me . We will also need a reasonable explanation about why you’ve chosen cancel you campaign so that we may notify everyone who contributed to your campaign. In this case, your project will appear in the section labeled "unfunded."</p>

<h2>Rewards, Rewards, Rewards!</h2>

<h3>Who creates the rewards?</h3>
<p>It is the responsibility of the student, to come up with a way to reward each donation.
The rewards can vary in range according to the donation. For example, if you contribute $ 10.00, you get one reward, & if you contribute $ 50.00, you gain another.</p>

<h3>Why do I have to offer a reward?</h3>
<p>You don’t have to offer any rewards, but we encourage you to do so becasuse this really gives donors more incentive to participate and be included in on your journey to achieving a higher education.</p>

<h3>What can be offered as a reward?</h3>
<p>
Virtually everything, except money or anything illegal. Products, services and experiences can be included in the package. No need to break the bank to reward your supporters just be creative!  There’s nothing better than a personalized tour in the Country where you happen to be studying abroad, a postcard that updates your progress, a costume design from fashion school, a ticket to that advanced piano recital, or free computer service when you’ve completed that IT course (You get our drift). The rewards should be a fun & creative way to encourage people to support your campaign</p>

<h3>How can I get information (email, shirt size, address) about the supporters of my campaign so that I can distribute the rewards?</h3>
<p>On the list of supporters of the campaign, you’ll see the email addresses of all supporters. You should contact them personally to obtain any other necessary information.</p>

<h3>Who is responsible for the delivery of rewards?</h3>
<p>ONLY the student will be held responsible for the delivery of rewards. smartn.me is only a facilitator of the process.</p>

<h2>Contacting Us</h2>

<h3>Does smartn.me have a blog?</h3>
<p>Yes! Check it out here: _____</p>

<h3>Is smartn.me on Twitter?</h3>
<p>Yes, our profile is the @ smartNme</p>

<h3>How about a Facebook page?</h3>
<p>Yes, our profile is located <a href="http://www.facebook.com/pages/SmartNme/161820603885728">here</a>.</p>

<h3>Is there someplace that I can suggest new features?</h3>
<p>Sure! Just click on  "Suggestions" right there on your left, or for any other question send an email to contact @ smartn.me.</p>
