<% content_for :content_header do %>
  <h1>Add Title</h1>
  <h2>Add Subtitle</h2>
<% end %>

<h2>Privacy Policy</h2>

<p>At smartn.me your privacy and security are our top priority.  The personal information you provide to us during registration is only used for the Company’s internal purposes, and the functionality of the service.</p>

<h3>What Information Is Collected:</h3>
<p>We collect Personal Information from our online visitors and users on a voluntary basis and only to the extent necessary to fulfill your requests and to create or enhance our relationship with you. We may collect personal information through your participation in activities like Website registration; Service-specific registration; promotions; polls, surveys, or questionnaires; purchases through the Websites; and in connection with chats or monitored message boards, or because you want us to furnish you with technical/product support, Services, information, or feedback. Personal Information collected may include, but is not limited to, your name, e-mail address, phone number, fax number, home address, and age.</p>

<h3>Your smartn.me account:</h3>
<p>
  <ol class="list-style">
    <li>Supporters - people who register to be supporters (who will contribute financially to the project) will need to enter a full name, email, address, and telephone number (the latter only by an obligation by Paypal to verify your identity).</li>
    <li>Students - people who have interest in launching a campaign need to provide the following information: full name, address and telephone number. This is requested by the staff of smartn.me after the campaign has been submitted and the project is selected to air.</li>
  </ol>
</p>
 
<h3>Links to Third Party Sites:</h3>
<p>Our provision of links to other websites or locations is for your convenience and does not signify our endorsement of such other websites or location or its contents. Links to other websites or locations may also be posted by our members. We have no control over, do not review, and cannot be responsible for these outside websites or their content. Please be aware that the terms of our Privacy Policy do not apply to these outside websites. If you are concerned about the privacy policy of a certain third party, you may contact them directly or visit their individual web sites to learn more about their individual privacy policies.</p>

<h3>Email</h3>
<p>Rest assured, when sharing your email address with us, that you will not receive an inbox full of junk mail; We hate spam too. We communicate with you only upon consent.
We send you emails relating to your transactions and personal ads related to services, but only do it when necessary. You will also receive some reports, or notices of website updates which may be waived if you choose to opt-out.
The creators of the projects will have access to their supporters email address in order to give thanks or follow through with rewards.</p>

<h3>Data Security:</h3>
<p>We use reasonable administrative, technical, personnel and physical measures to safeguard your Personal Information in our possession against loss, theft and unauthorized use, disclosure or modification. We store personal information provided by our online visitors in database that is accessible by authorized employees only on a need-to-know basis, in a secure physical environment behind a firewall. A password will be required from you and any authorized smartn.me employee who has access to your data prior to gaining access. 
While we take precautions against possible breaches in its web sites and customer databases, no website or Internet transmission is completely secure. Accordingly, we cannot guarantee that unauthorized access, hacking, data loss, or other breaches will never occur. Your use of the Websites and Services is at your own risk. We urge you to take steps to keep your personal information safe by memorizing your password or keeping it in a safe place (separate from your account information), logging out of your user account, and closing your web browser.</p>

<h3>General Terms and Conditions of Service:</h3>
<p>The terms of this Privacy Policy are incorporated into our general Terms of Service. Please review our Terms of Service <a href="<%= terms_path %>">here</a>.</p>

<p>smartn.me reserves the right to update its privacy policy at any time. Information about updates will be sent to the email address provided or will be placed in prominent sight.
We reserve the right to disclose your personal information as required by law and when we believe disclosure is necessary to protect our rights.
To modify or delete any or all personal information you provide to us, please login and update your profile.
Any questions about this Privacy Policy should be sent to the address contact @ smartn.me</p>
